<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Cargo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="centralize">
        <div class="fundo_form">
            <h1>CADASTRAR CARGO</h1>
            <form action="{{ url_for('criar_cargo') }}" method="post" class="form">
                <label for="nome">Nome do Cargo:</label>
                <input type="text" id="nome" name="nome" required placeholder="Insira o novo cargo" ><br><br>

                <label for="id_setor">Setor:</label>
                <select id="id_setor" name="id_setor" required>
                    {% for setor in setores %}
                    <option value="{{ setor[0] }}">{{ setor[1] }}</option>
                    {% endfor %}
                </select><br><br>
                <button type="submit" value="Cadastrar Cargo">CADASTRAR</button>
            </form>
            <div>
                <a href="./home.html"><button>HOME</button></a>
            </div>
        </div>
    </div>
    <figure>
        <img src="./logo_vassouras.png" alt="logotipo_universidade" class="logo">
    </figure>
</body>